.home-page-container {
  height: calc(100vh - 56px);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
  background-color: #f5f5f5;
}

.hover-card {
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.hover-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
