/* Page Container Styles */
.page-container {
  height: calc(100vh - 56px);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
  background-color: #f5f5f5;
  padding-bottom: 3rem;
}

.page-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 15px 0px 15px;
}

/* Mobile Responsive */
@media (max-width: 767.98px) {
  .page-inner {
    padding: 2rem 10px;
  }
}
