/* Page Container Component */
.page-container {
  height: calc(100vh - 56px);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
  background-color: #f5f5f5;
  padding-bottom: 3rem;
}

.page-container-inner {
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.page-container-content {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

/* Mobile adjustments */
@media (max-width: 767.98px) {
  .page-container-inner {
    padding-left: 10px;
    padding-right: 10px;
  }

  .page-container-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
